.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 8px;
}

.container input {
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.48);
    font-weight: 400;
    font-size: 14px;
    padding: 0 12px !important;
}

.select {
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 48px;
    color: rgba(0, 0, 0, 0.48);
    font-weight: 400;
    font-size: 14px;
    padding: 0 12px !important;
}

.field {
    display: flex;
    flex-direction: column;
}

.field p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.48);
    margin: 8px 0 0 0;
}

#field-sex {
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-style: normal !important;
    color: rgba(0, 0, 0, 0.48);
}

#field-sex p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.formControl {
    margin: 0 !important;
}

.container select {
    background: url(apperance.svg) no-repeat right;
    background-position-x: calc(100% - 12px)
}

.option,
.option p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.48);
    margin: 0;
}